<% JSON.parse(response[:array_content]).each do |i| %>
  <% product = Product.find(i) %>
    <div class="products_caroussel">
        <div class="product_card">
          <%= product.name %>
          <%= render partial: "shared/modal_product", locals: {product: product} %>
          prout
        </div>
    </div>
<% end %>
