<% JSON.parse(response[:array_content]).each do |i| %>
  <% product = Product.find(i) %>
    <div class="products_caroussel">
        <div class="product_card">
          <p>Je suis <%= product.name %> - <%=product.description%> - <%= product.price %></p>
        </div>
    </div>
<% end %>
