// Define variables for your color scheme

// For example:
// $red: #FD1015;
$blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #aeadad;



/* Color styles */
$red: #E40303;
$orange: #FF8C00;
$yellow: #FFED00;
$green: #008026;
$dark-blue: #24408E;
$violet: #732982;
$white: #FFFFFF;
$pink: #FFAFC8;
$light-blue: #74D7EE;
$brown: #613915;
$black: #000000;


$input-placeholder-color: $light-gray;


a {
  text-decoration: none;
  color: black;
}
