// Specific CSS for your home-page
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 375px;
  width: 100%;
  margin: auto;
  background-color: #F95979;
}
.button {
  display: block;
  width: 75%;
  padding: 16px;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid;
  border-color: transparent;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  transform: scale(1.10);
  transition: 0.3s;
}

.button-middle-purple {
  background-color: #AE0072;
  border-color: #AE0072;
}

.button-dark-pink {
  background-color: #D62A5E;
  border-color: #D62A5E;
}

.button-light-purple {
  background-color: #C90084;
  border-color: #C90084;
}

.button-middle-purple:hover {
  background-color: #fff;
  color: #AE0072;
  border-color: #AE0072;
}

.button-dark-pink:hover {
  background-color: #fff;
  color: #D62A5E;
  border-color: #D62A5E;
}

.button-light-purple:hover {
  background-color: #fff;
  color: #C90084;
  border-color: #C90084;
}
