<div class="navbar navbar-light navmobile">
  <div class="container-fluid">
    <div id="cards-button">
        <%= link_to cards_path, class: "flex__item" do%>
            <div>
              <i class="fa-solid fa-question" style="color: #000000;"></i>
            </div>
        <%end%>
    </div>
    <div id="chatroom-button">
      <% if user_signed_in? %>
        <%= link_to chatrooms_path, data: {turbo_method: :post}, class: "flex__item" do %>
        <i class="fa-regular fa-comment fs-3" style="color: #000000;"></i>
      <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "flex__item" do %>
          <i class="fa-regular fa-comment fs-3" style="color: #000000;"></i>
        <% end %>
      <% end %>
    </div>
    <div id="marketplace-button">
      <%= link_to "/marketplace", class: "flex__item" do%>
          <div>
            <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i>
          </div>
      <%end%>
    </div>
  </div>
</div>





<%# <i class="fa-regular fa-user"></i> %>
<%# #{'active' if params[:query] == category}" %>
