<%# <%= image_tag("logotropfrais.png", alt: "Logo tro frè", style: "width: 500px;") %>

<div class="button-container">
  <%= link_to "/cards", class: "button button-dark-pink" do %>
    Cards
  <% end %>

  <%= link_to "/chat", class: "button button-light-purple" do %>
    Chat with a professional
  <% end %>

  <%= link_to "/marketplace", class: "button button-middle-purple" do %>
    Marketplace
  <% end %>
</div>
