.card-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 500px;
  // add the height of the search bar with $search-bar-height
  // height: calc(100vh - ${$search-bar-height})
  overflow: scroll;
  background-color: pink;
}

.inner-container {
}

.card-box {
  display: flex;
  width: 328px;
  height: 326px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #000;
  background: #BDBDBD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
  position: relative;
}

.card-category {
  color: rgba(102, 102, 102, 0.80);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Source Code Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Source Code Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-rectangle {
  border-top: 3px solid #3C3C43;
  margin: 4px 0;
  width: 100%;
}

.card-description {
  color: var(--white, #FFF);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.374px;
}
