.welcome-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  transition: all 2s ease;
  opacity: 1;
  &.disappear {
    opacity: 0;
  }
}

.image-home{
  width: 300px;
}
