.btn-modal {
  display: flex;
  width: 160px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: black;
  font-family: Source Code Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  // border: none;
}

.modal-dialog {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
}

.modal-content {
  border-radius: 12px;
  background: whitesmoke
}

.modal-header {
  color: black;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Source Code Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modal-body {
  color: black;
  font-family: Source Code Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0.374px;
  white-space: break-spaces;
  text-align: justify;
}

.modal-rectangle {
  border-top: 3px solid black;
  margin: auto;
  width: 90%;
  height: 1px;
  margin-bottom: 3%;
}

.modal-title {
  padding-left: 32px;
  color: black;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Source Code Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 12px;
}

.modal-footer, .modal-header {
  border: none;
}

.modal-photo {
  display: flex;
  justify-content: center;
}

.modal-photo img {
  width: 60vw;
  border-radius: 10px;
}

.modal-foot {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 4%;
  gap: 3%;
  margin-left: 4%;
  margin-right: 4%;
}

.modal-button-to-chat {
  border-radius: 32px;
  border: none;
  background: var(--light-blue, #74D7EE);
  color: white;
}

.modal-button-to-market {
  border-radius: 32px;
  border: none;
  background: var(--orange, #FF8C00);
  color: white;
}
