.product_card {
  border: 1px solid black;
  background-color: white;
  box-shadow: 3px -3px 3px rgba($gray, 0.75);
  border-radius: 10px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  height: 290px;
  font-size: 11px;
  align-items: center;
  text-align: center;
}

.product_card img {
  max-height: 200px;
}

.btn-modal-product {
  display: flex;
  width: 80px;
  height: 32px;
  background-color: $orange;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: black;
  font-family: Source Code Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  margin-top: 3px;
}
